.App {
  text-align: center;
}

.jogos-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

.jogo-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  text-align: left;
}

